{% extends "base.html" %}

{% block content %}
        <div class="process" style="background-color: coral;">
            <div class="process_header">
                <div class="process_names">
                    Update Playlist
                </div>
            </div>
            <div class="process_header">
                <div class="process_prerequisites">
                    Prerequisites: LastFm, Spotify, public playlist named: "Automated Best Of"
                </div>
            </div>
            <div class="process_header">
                <div class="process_actions">
                    {% if current_user.updating_playlist %}
                    Updating...
                    {% elif spotify_verified and lastfm_verified %}
                    <button onclick="window.location.href='{{ url_for('update_playlist') }}';">
                        Update
                    </button>
                    {% else %}
                    <button onclick="window.location.href='{{ url_for('update_playlist') }}';" disabled style="background-color: gray; color: lightgray">
                        Update
                    </button>
                    {% endif %}
                    {% if current_user.error_updating %}
                        Error updating playlist!
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="process" style="background-color: indianred">
            <div class="process_header">
                <div class="process_names">
                    Explore Mode
                </div>
            </div>
            <div class="process_header">
                <div class="process_prerequisites">
                    Prerequisites: Spotify
                </div>
            </div>
            <div class="process_header">
                <div class="process_actions">
                    {% if spotify_verified %}
                    <button onclick="window.location.href='{{ url_for('explore_mode') }}';">
                        Queue
                    </button>
                    {% else %}
                    <button onclick="window.location.href='{{ url_for('explore_mode') }}';" disabled style="background-color: gray; color: lightgray">
                        Queue
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="process" style="background-color: lightgoldenrodyellow">
            <div class="process_header">
                <div class="process_names">
                    Smart Shuffle
                </div>
            </div>
            <div class="process_header">
                <div class="process_prerequisites">
                    Prerequisites: Spotify, "Automated Best Of" playlist
                </div>
            </div>
            <div class="process_header">
                <div class="process_actions">
                    {% if spotify_verified %}
                    <button onclick="window.location.href='{{ url_for('smart_shuffle') }}';">
                        Queue
                    </button>
                    {% else %}
                    <button onclick="window.location.href='{{ url_for('smart_shuffle') }}';" disabled style="background-color: gray; color: lightgray">
                        Queue
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
